
<html>
  <head>
  <style>
  </style>
  </head>
  <body>
  
  <h1>{{title}}</h1>
  
  <div class="month">      
    <ul>
      <button class="prev">&#10094;</button>
      <button class="next">&#10095;</button>
      <li>
        August<br>
        <span>2019</span>
      </li>
    </ul>
  </div>
  
  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>
  
  <ul class="days">  
    <button routerLink="reminder" value="1">1</button>
    <button routerLink="reminder" value="2">2</button>
    <button routerLink="reminder" value="3">3</button>
    <button routerLink="reminder" value="4">4</button>
    <button routerLink="reminder" value="5">5</button>
    <button routerLink="reminder" value="6">6</button>
    <button routerLink="reminder" value="7">7</button>
    <button routerLink="reminder" value="8">8</button>
    <button routerLink="reminder" value="9">9</button>
    <button routerLink="reminder" value="10">10</button>
    <button routerLink="reminder" value="11">11</button>
    <button routerLink="reminder" value="12">12</button>
    <button routerLink="reminder" value="13">13</button>
    <button routerLink="reminder" value="14">14</button>
    <button routerLink="reminder" value="15">15</button>
    <button routerLink="reminder" value="16">16</button>
    <button routerLink="reminder" value="17">17</button>
    <button routerLink="reminder" value="18">18</button>
    <button routerLink="reminder" value="19">19</button>
    <button routerLink="reminder" value="20">20</button>
    <button routerLink="reminder" value="21">21</button>
    <button routerLink="reminder" value="22">22</button>
    <button routerLink="reminder" value="23">23</button>
    <button routerLink="reminder" value="24">24</button>
    <button routerLink="reminder" value="25">25</button>
    <button routerLink="reminder" value="26">26</button>
    <button routerLink="reminder" value="27">27</button>
    <button routerLink="reminder" value="28">28</button>
    <button routerLink="reminder" value="29">29</button>
    <button routerLink="reminder" value="30">30</button>
    <button routerLink="reminder" value="31">31</button>
    <router-outlet></router-outlet>
  </ul>
  </body>
  </html>
  